.container{
    width: 30%; 
    margin-left: 546px
}
.heading{
    color: blue; 
    margin-left: 4px;
}
.input{
    margin-left: 25px;
}
.p{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.signUp{
    cursor: pointer;
}