.container{
    width: 23%; 
    margin-left: 563px;
}
.heading{
    margin-left: 117px;
    font-family: none;
    font-size: xx-large;
    margin-top: -84px;
    color: blue;
    margin-left: 203px;
}
.enter{
    margin-top: 31px; margin-left: 36px
}
.inputHeading{
    margin-left: 125px; 
    color: blue;
}
.input{
    margin-left: 28px;
    margin-left: 28px;
}
.p{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}
.signUp{
    cursor: pointer;
}