<div class="mainContainer">
    <div class="container">
        <img
        src="../../assets/Images/Logo.jpeg"
        width="150px"
        height="30px"
        class="logo">
        <mat-card class="card">
    
            <mat-form-field appearance="outline">
                <mat-label>Location</mat-label>
                <mat-select [(ngModel)]="location" (selectionChange)="locationSelect()">
                    <mat-option *ngFor="let item of foodsData" [value]="item.location">
                    {{item.location}}</mat-option>
                </mat-select>
            </mat-form-field>
            <mat-icon (click)="clearLocation()">cancel</mat-icon>
            <mat-form-field appearance="outline">
                <input matInput 
                type="text" 
                [(ngModel)]="searchText" 
                placeholder="🔍Search"
                (keyup.enter)="search()">
            </mat-form-field>
            <mat-icon (click)="clearSearch()">cancel</mat-icon>
        </mat-card>
        <button mat-button class="logOut" (click)="logOut()">Log Out</button>
    </div>
    <div class="category">
        <p><b>Order by category -> </b></p>
        <p (click)="onCategory('Veg')" class="p">Veg</p>
        <p (click)="onCategory('Non veg')" class="p">Non veg</p>
        <p (click)="onCategory('Vegan')" class="p">Vegan</p>
        <p (click)="onCategory('All')" class="p">All</p>
    </div>
    <!-- <div class="category">
        <p><b>Order by food type -> </b></p>
        <p *ngFor="let item of allFoodInfo" 
        (click)="ontype(item.foodType)"
        class="p">{{item.foodType}}</p>
        <p (click)="ontype('All')" class="p">All</p>
    </div> -->
    <div class="cardContainer">
        <mat-card *ngFor="let item of foodsData" class="foods">
            <img
            src="../../assets/Images/{{item.foodName}}.jpeg"
            class="img">
            <p class="name"><b>{{item.foodName}}</b></p>
            <p><b>Rs.{{item.foodPrice}}</b></p>
            <p>• {{item.foodType}} • {{item.foodCategory}}</p>
        </mat-card>
    </div>
</div>