
.mainContainer{
    margin-left: 8%;
    margin-right: 8%;
}
.container{
    margin-top: 2%;
    display: flex;
    flex-direction: row;
}
.card{
    display: flex;
    flex-direction: row;
    height: 60px;
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
}
.logOut{
    margin-left: 400px;
}
.logo{
    margin-top: 10px;
}
.cardContainer{
    background-color: aliceblue;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    margin-top: 35px;
    padding: 10px;
    padding-left: 10px;
}
.foods{
    width: 260px;
    height: 300px;
    padding: 10px;
}
.name{
    font-size: 30px;
    margin-top: 10px;
    color: maroon;
}
mat-icon{
    margin:auto;
}
.img{
    border-radius: 40%;
    width: 240px;
    height: 170px;
}
.category{
    display: flex;
    font-size: x-large;
    flex-direction: row;
    align-items: flex-end;

}
.p{
    cursor: pointer;
    color: blue;
    text-decoration: underline;
    margin: 10px;
}